.cabecalho{
    background-color: rgb(190, 109, 54);
    font-size: xx-large;
    height: 70px;
}

#li{
    float: right;
    margin-left: 5px;
    margin-top: 15px;
}

.soulia{
    background-image: url(imagens/Home.png);
    height: 650px;
}