.cabecalho{
    background-color: rgb(190, 109, 54);
    font-size: xx-large;
    height: 70px;
}

#li{
    float: right;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#li:hover{
    background-color: rgb(139, 81, 42);
}

a:link, a:hover, a:visited{
    text-decoration: none;
    color: rgb(55, 22, 0);
}

a:active{
    color: black;
}

.soulia{
    background-image: url(imagens/Home.png);
    height: 650px;
}