.cabecalho{
    height: 60px;
}

#nome{
    height: 50px;
    display: flex;
    align-items: center;
    background-image: url(imagens/liamariahandwriting3.png);
    width: 193px;
    float: left;
    margin-top: 4px;
}

.menu{
    float: right;
    height: 50px;
}

.op{
    height: 50px;
    display: flex;
    align-items: center;
    float: left;
    margin-top: 4px;
    font-size: 170%;
    margin-right: 10px;
    color: rgb(56, 22, 0);
}

.op:hover{
    background-color: rgb(135, 77, 41);
}

a:link, a:visited, a:active{
    text-decoration: none;
}

#soulia{
    height: fit-content;
    width: 100%;
}

#ali{
    width: 100%;
}

p{
    font-size: 130%;
    color: rgb(65, 26, 0);
}